[user]
	name = MnlPhlp
	email = online@philipp-manuel.de
	signingkey = AC3CB28FEA5A8605D63BD122D0E3EDAC589BE51D
[gui]
	recentrepo = /home/manuel/dotfiles
	recentrepo = /home/manuel/programming/stepper
[commit]
	gpgsign = true
[alias]
	graph = log --all --decorate --oneline --graph
[pull]
	rebase = false
[init]
	defaultBranch = main
[safe]
	directory = *
