[user]
	name = MnlPhlp
	email = online@philipp-manuel.de
	signingkey = 4234DEDFEA5C5C63
[gui]
	recentrepo = /home/manuel/dotfiles
	recentrepo = /home/manuel/programming/stepper
[commit]
	gpgsign = true
[alias]
	graph = log --all --decorate --oneline --graph
[pull]
	rebase = false
[init]
	defaultBranch = main
[safe]
	directory = *
